<header>
  <div id="top">
    <div class="container">
      <div class="row">
        <div class="col-xs-5">
          
        </div>
        <div class="col-xs-7">
          <div class="social">
            
            <a href="tel:&#43;7737021216" target="_blank" style="opacity: 1;"><i class='fas fa-2x fa-phone'></i></a>
            
            <a href="https://github.com/marisacasillas" target="_blank" style="opacity: 1;"><i class='fab fa-2x fa-github'></i></a>
            
            <a href="http://twitter.com/middycasillas" target="_blank" style="opacity: 1;"><i class='fab fa-2x fa-twitter'></i></a>
            
            <a href="mailto:chatterlab@uchicago.edu" target="_blank" style="opacity: 1;"><i class='fas fa-2x fa-envelope'></i></a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</header>